# CubeMX
# Don't ignore .project and .cproject to keep settings not set in CubeMX

*/Middlewares/*
*/Debug/*
*/Release/*
*/Drivers/*
.mxproject
*/.settings/*
*/SW4STM32/*
*.ld

.metadata/*
RemoteSystemsTempFiles/
