# CubeMX
# Don't ignore .project and .cproject to keep settings not set in CubeMX

*/pyhermes/__pycache__/*

*/Middlewares/*
*/Debug/*
*/Release/*
*/Drivers/*
.mxproject
.osx.project
*/.settings/*
*/SW4STM32/*
*/STM32F4DISCOVERY.xml
*/startup/*


.metadata/*
RemoteSystemsTempFiles/

*/__pycache__/*
*/*/__pycache__/*
*.DS_Store
*/.idea/*
